<!DOCTYPE html>
<html>
  <head>
    <title>SimpleClaim Lawyer Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-balance-scale" style='font-size:48px;color:red'></i>
        <h1>To get started with the small claims process</h1>
        <p>Sign up to get started</p>
        <div class="btn-group">
        </div>
      </div>
      <div>
      <%= form_tag '/lawyers', method: :post do%>
        <div class="title">
          <i class="fas fa-gavel"></i>
          <h2>Register here</h2>
        </div>
        <div class="info">
          <%= form_for @lawyers do |f|%>
            <%= f.label :username%><br>
            <%= f.text_field :username%><br>
            <%= f.label :password%><br>
            <%= f.password_field :password%><br>
            <%= f.label "First Name"%><br>
            <%= f.text_field :fname%><br>
            <%= f.label "Last Name"%><br>
            <%= f.text_field :lname%><br>
            <%= f.label "Birthday"%><br>
            <%= f.date_field :bday%><br>
            <%= f.label "Location"%><br>
            <%= f.text_field :location%><br>
            <%= f.label "Highest Education"%><br>
            <%= f.text_field :education%><br>
            <%= f.label "Win Rate of Cases"%><br>
            <%= f.text_field :winRate%><br>
            <%= f.submit %>
          <%end%>
        </div>
        <%end%>
    </div>
  </body>
</html>
