<h1>File a Small Claim</h1>
<br>

<%= form_tag claim_path, :class => 'form' do %>
  <%= label :claim, :fname, 'First Name:', :class => 'col-form-label' %>
  <%= text_field :claim, :fname, :class => 'form-control' %>
  <%= label :claim, :lname, 'Last Name:', :class => 'col-form-label'  %>
  <%= text_field :claim, :lname, :class => 'form-control' %>
  <%= label :claim, :bday, 'Birthday:', :class => 'col-form-label'  %>
  <%= date_field :claim, :bday, :class => 'form-control' %>
  <%= label :claim, :claimTypes, 'Select the type of claim you will be filing', :class => 'col-form-label' %>
  
  <%= label :claim, :description, 'Describe more about your particular case:', :class => 'col-form-label' %>
  <%= text_area :claim, :description, :class => 'form-control' %>
  <%= submit_tag 'Create New Claim', :class => 'btn b3dca5a2afabe3190
<% end %>