<h1>File a Small Claim</h1>
<br>
<%= form_with do |form| %>
    Form contents
  <% end %>  
# <%= form_with url: "/claim", method: :get do |form| %>
#     <%= form.label :fname, "First Name:" %>
#     <%= form.text_field :fname %>
#     <%= form.label :lname, "Last Name:" %>
#     <%= form.text_field :lname %>
#     <%= form.label :bday, "Birthday:" %>
#     <%= form.date_field :bday %>
#     <%= form.label :address, "Address:" %>
#     <%= form.text_field :address %>
#     <%= form.select :small_claim, options_for_select(["Select One", 
#     "Breach of contract disputes", 
#     "Personal injury claims (such as dog bites)",
#     "Collection on debts or loan repayments", 
#     "Professional negligence claims (like bad car repairs)", 
#     "Claims regarding the return of a renters security deposit or personal property",
#     "Issues with contractors or home remodels",
#     "Property damage claims",
#     "Claims involving eviction notices or unlawful eviction",
#     "False arrest claims",
#     "Libel or slander cases",
#     "Counterclaims to a lawsuit"
#     ],:disabled => ["Select One"]), :class => 'genForm_dropBox' %>
#     <%= form.label :description, "Description:" %>
#     <%= form.description :description %>
#     <%= form.submit "Create Claim" %>
# <% end %>
# <form>
#     <br>
#     <label for="fname">First name:</label><br>
#     <input type="text" id="fname" name="fname"><br>
#     <br>
#     <label for="lname">Last name:</label><br>
#     <input type="text" id="lname" name="lname">
#     <br>
#     <label for="bday">Birthday:</label><br>
#     <input type="date" id="bday" name="bday">
#     <br>
#     <label for="address">Address:</label><br>
#     <input type="text" id="address" name="address">
#     <br>
#     <label for="small_claim">Select the most relevant small claim you are filing:</label>
#         <select name="small_claim" id="small_claim">
#             <br>
#             <option value="Breach of contract disputes">Breach of contract disputes</option>
#             <br>
#             <option value="Personal injury claims (such as dog bites)">Personal injury claims (such as dog bites)</option>
#             <br>
#             <option value="Collection on debts or loan repayments">Collection on debts or loan repayments</option>
#             <br>
#             <option value="Professional negligence claims (like bad car repairs)">Professional negligence claims (like bad car repairs)</option>
#             <br>
#             <option value="Claims regarding the return of a renters security deposit or personal property">Claims regarding the return of a renters security deposit or personal property</option>
#             <br>
#             <option value="Issues with contractors or home remodels">Issues with contractors or home remodels</option>
#             <br>
#             <option value="Property damage claims">Property damage claims</option>
#             <br>
#             <option value="Claims involving eviction notices or unlawful eviction">Claims involving eviction notices or unlawful eviction</option>
#             <br>
#             <option value="False arrest claims">False arrest claims</option>
#             <br>
#             <option value="Libel or slander cases">Libel or slander cases</option>
#             <br>
#             <option value="Counterclaims to a lawsuit">Counterclaims to a lawsuit</option>
#             <br>
#         </select>
#     <br>
#     <label for="description">Description of Small Claim:</label><br>
#     <br>
#     <input type="text" id="description" name="description">
#     <br>

#     <input type="submit" name="create" value="Create Claim" data-disable-with="Create">  

# </form>
