<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-balance-scale" style='font-size:48px;color:red'></i>
        <h1>To get started with the small claims process</h1>
        <p>Sign up to get started</p>
        <div class="btn-group">
          <a class="btn-item" href="#">FAQ</a>
          <a class="btn-item" href="#">PROCESS</a>
        </div>
      </div>
      <div>
      <%= form_tag '/login', method: :post do%>
        <div class="title">
          <i class="fas fa-gavel"></i>
          <h2>Login</h2>
        </div>
        <div class="info">
          <%= label_tag :username%>
          <%= text_field_tag :username %>
          <%= label_tag :password%>
          <%= password_field_tag :password%>
        </div>
        <%= submit_tag "Login"%>
        <%end%>
      </form>
      <%= form_tag register_path, method: :get do%>
        <button class="float-left submit-button" >Create a new account</button>
      </form>
      <%end%>
      </div>
    </div>
  </body>
</html>
