<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>To get started with the small claims process</h1>
        <p>Sign up to get started</p>
        <div class="btn-group">
          <a class="btn-item" href="https://www.w3docs.com/learn-html.html">FAQ</a>
          <a class="btn-item" href="https://www.w3docs.com/quiz/#">PROCESS</a>
        </div>
      </div>
      <div>
      <%= form_tag '/login', method: :post do%>
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Login</h2>
        </div>
        <div class="info">
          <%= label_tag :username%>
          <%= text_field_tag :username %>
          <%= label_tag :password%>
          <%= password_field_tag :password%>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a href="https://www.w3docs.com/privacy-policy">Privacy Policy for SimpleClaim.</a></span>
        </div>
        <%= submit_tag "Login"%>
        <%end%>
        <%= form_tag register_path, method: :get do%>
          <button class="float-left submit-button" >Join Now</button>
          </form>
          <%end%>
      </form>
      </div>
    </div>
  </body>
</html>
