<%= stylesheet_link_tag 'main', "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>

<% if logged_in? %>
    <h1 id="welcome_text"> Welcome <%= current_user.username %></h1>
    <br><br>
    <div class="text-center">
    <%= link_to 'Start a Small Claim', claim_path, id: "small_claim_button", :class => 'btn btn-primary' %>
    </div>
    <br>
    <br>

    <table class="rwd-table" id="claims">
    <thead>
        <tr>
        <th align="center">Claim ID</th>
        <th align="center">Claim URL</th>
        <th align="center">Claim Progress</th>
        <th align="center">Claim Type</th>
        <th align="center">Description</th>
        <th align="center">Advising Lawyer</th>
        <th align="center">Email Lawyer</th>
        </tr>
    </thead>
    <tbody>
        <% Claim.where(users_id: session[:user_id]).each do |claim| %>
        <tr>
            <td>
            <%= claim.id %>
            </td>
            <td>
            <%= button_to 'Edit Claim', view_claim_path(claim), :method => :get, :class => 'btn btn-warning' %>
            </td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= claim.progress_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= claim.progress_percentage %>%; color: black;">
                    </div>
                </div>
            </td>
            <td>
            <%= claim.claimTypes %>
            </td>
            <td>
            <%= claim.description %>
            </td>
            <td>
            <% if claim.lawyers_id.present? and claim.decision == 1 %>
                <%= Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname %>
            <% elsif claim.lawyers_id.present? and claim.decision == 0 %>
                <%= "Pending " + Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname + " decision." %>
            <% else %>
                <%= "Rejected by " + Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname %>
            <% end %>
            </td>
            <td>
            <% if not current_user.nil?%>
                <% if claim.decision == 1 %>
                <%= link_to "Email #{Lawyer.find_by(id: claim.lawyers_id).fname}", "mailto:#{Lawyer.find_by(id: claim.lawyers_id).email}", :class => 'btn btn-info', :subject => "Claim" %>
                <% else %>
                <div  style="text-align:center">
                <i class="fa fa-lock" style="font-size:48px"></i>
                </div>
                <% end %>
            <%end%>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>

<% end %>


