<% if logged_in? %>
    <h1>Welcome <%= current_user.username %></h1>

    <br>
    <%= link_to 'Start a Small Claim', claim_path, :class => 'btn btn-primary' %>

    <table class="rwd-table" id="claims">
    <thead>
        <tr>
        <th align="center">Claim ID</th>
        <th align="center">Claim URL</th>
        <th align="center">Claim Type</th>
        <th align="center">Description</th>
        <th align="center">Advising Lawyer</th>
        </tr>
    </thead>
    <tbody>
        <% Claim.where(users_id: session[:user_id]).each do |claim| %>
        <tr>
            <td>
            <%= claim.id %>
            </td>
            <td>
            <%= link_to 'View Claim' %>
            </td>
            <td>
            <%= claim.claimTypes %>
            </td>
            <td>
            <%= claim.description %>
            </td>
            <td>
            <% if claim.lawyers_id.present? and claim.decision == 1 %>
                <%= Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname %>
            <% elsif claim.lawyers_id.present? and claim.decision == 0 %>
                <%= "Pending " + Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname + " decision." %>
            <% else %>
                <%= "Rejected by " + Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname %>
            <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>

<% end %>


