<% if logged_in? %>
    <h1>Welcome <%= current_user.username %></h1>

    <br>
    <%= link_to 'Start a Small Claim', claim_path, :class => 'btn btn-primary' %>

    <table class="table table-striped col-md-12" id="claims">
    <thead>
        <tr>
        <th>Claim ID</th>
        <th>Claim Type</th>
        <th>Description</th>
        <th>Advising Lawyer</th>
        </tr>
    </thead>
    <tbody>
        <% Claim.all.each do |claim| %>
        <tr>
            <td>
            <%= claim.id %>
            </td>
            <td>
            <%= claim.claimTypes %>
            </td>
            <td>
            <%= claim.description %>
            </td>
            <td>
            <% if claim.lawyers_id.present? %>
                <%= Lawyer.find(claim.lawyers_id).fname + " " + Lawyer.find(claim.lawyers_id).lname %>
            <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>

    
<% end %>


